$def with (plaso_url, jenkins_url, for572_url, xplico_url)

The following dashboards are available (and will open in a new browser tab/window):
<ul>
  <li><a href="$plaso_url" target="new_3">Supertimeline.</a></li>
  <li><a href="$jenkins_url" target="new_4">Jenkins Tasks.</a></li>
  <li><a href="$for572_url" target="new_5">Advanced Network Forensics (for SANS FOR572).</a></li>
  <li><a href="$xplico_url" target="new_6">Xplico.</a></li>
  <li><a href="https://github.com/z3ndrag0n/forensicator-fate/issues" target="new_2">Issues and Enhancement requests.</a>
</ul>
