$def with (cases, jenkins_job_url)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <link href="/static/ffate.css" rel="Stylesheet" type="text/css">
  </head>
  <body>

$if cases:
    <table>
    <th>id </th><th>casename </th><th>memory image </th><th>disk image </th><th>disk name </th><th>timezone </th><th>volatility_profile </th><th>notes </th><th>keywords </th><th> </th>

    $for case in cases:
        $:render.li(case,jenkins_job_url)
    </table>

<form method="post" action="add">

<label for="casename">Case Name<label> <input type="text" name="casename" />
<label for="memory_image">Memory Image</label> <input<input type="text" name="memory_image" />
<label for="disk_image">Disk Image</label> <input<input type="text" name="disk_image" />
<label for="disk_name">Disk Name</label> <input<input type="text" name="disk_name" />
<label for="timezone">Timezone</label> <input<input type="text" name="timezone" />
<label for="volatility_profile">Volatility Profile</label> <input<input type="text" name="volatility_profile" />
<label for="notes">Notes</label> <input<input type="text" name="notes" />
<label for="case_keywords">Keywords</label> <input<input type="text" name="case_keywords" />

<input type="submit" value="New Case" /></p>
</form>

</body>
