$def with (cases, jenkins_job_url)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <link href="/static/ffate.css" rel="Stylesheet" type="text/css">
  </head>
  <body>

$if cases:
    <table>
    <th>id </th><th>casename </th><th>memory image </th><th>disk image </th><th>disk name </th><th>timezone </th><th>volatility_profile </th><th>notes </th><th>keywords </th><th> </th>

    $for case in cases:
        $:render.li(case,jenkins_job_url)
    </table>

<form method="post" action="add">
<table>
<tr>
<td>Case Name: </td><td><input type="text" name="casename" /></td>
</tr>
<tr>
Memory Image: </td><td><input<input type="text" name="memory_image" /></td>
</tr>
<tr>
Disk Image: </td><td><input<input type="text" name="disk_image" /></td>
</tr>
<tr>
Disk Name: </td><td><input<input type="text" name="disk_name" /></td>
</tr>
<tr>
Timezone: </td><td><input<input type="text" name="timezone" /></td>
</tr>
<tr>
Volatility Profile: </td><td><input<input type="text" name="volatility_profile" /></td>
</tr>
<tr>
<td>Notes: </td><td><input<input type="text" name="notes" /></td>
</tr>
<tr>
<td>Keywords: </td><td><input<input type="text" name="case_keywords" /></td>
</tr>
</table>
<input type="submit" value="New Case" /></p><br>
</form>

</body>
